<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
  </head>
  <body>
    <div class="container">
      <h1 class = 'h1'> Delete </h1>
      <div class="layout">



    <% for(let i = 0; i<pokedex.length ; i++){
      %>
      <form class="delete-form" action="/pokedex/<%=i%>?_method=DELETE" method="POST"
      <input type="submit" name="DELETE" value="DELETE"><img class = 'delete-pokemon'  src="<%=pokedex[i].img%>" alt="">

      </form>
    <%}%>
</div>
<form class="" action="/pokedex" method="get">


    <button id = back type="submit" name="button">Pokedex</button>
    </form>
      </div>

  </body>
</html>
