<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
  </head>
  <body>
    <h1>Add your own! (beta)</h1>
    <form class="" action="/pokedex" method="post">
      Name: <input type="text" name="name" value="name">
      Type: <input type="text" name="type" value="???">
      classification: <input type="text" name="misc" value="classification:Placeholder">
      HP: <input type="text" name="stats" value="hp:0">
      Attack <input type="text" name="stats" value="attack:0">
      Defense <input type="text" name="stats" value="defense:0">
      SpecialATK <input type="text" name="stats" value="spattack:0">
      SpecialDEF <input type="text" name="stats" value="spdefense:0">
      Speed <input type="text" name="stats" value="speed:0">

      Image:<input type="text" name="img" value="http://vignette1.wikia.nocookie.net/fantheories/images/c/ce/Artworks-000033957653-msh2uj-original.png/revision/latest?cb=20140619022320">
      <input type="submit" name="" value="Create">
    </form>
  </body>
</html>
